<div class="container mt-5">
    <h2 class="mb-4">Dashboard del Recepcionista</h2>
    <h4>Reservas Realizadas</h4>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Correo del Cliente</th>
            <th>Empleado</th>
            <th>Fecha de Reserva</th>
            <th>Servicio</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reserva of reservas">
            <td>{{ reserva.id }}</td>
            <td>{{ reserva.cliente.nombre }} {{ reserva.cliente.apellido }}</td>
            <td>{{ reserva.cliente.email }}</td>
            <td>{{ reserva.empleado.nombre }} {{ reserva.empleado.apellido }}</td>
            <td>{{ reserva.fechaReserva | date:'medium' }}</td>
            <td>{{ reserva.servicio }}</td>
            <td>{{ reserva.status }}</td>
          </tr>
          <tr *ngIf="reservas.length === 0">
            <td colspan="7" class="text-center">No hay reservas disponibles.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>